body {
  background: black;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

svg rect.equal {
  fill: white;
}

a {
  color: #00B7FF;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

.title {
  color: white;
}
